annotated-types==0.7.0
attmap==0.13.2
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
coloredlogs==15.0.1
eido==0.2.4
flatbuffers==24.3.25
humanfriendly==10.0
idna==3.10
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
logmuse==0.2.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
# numpy==2.1.3
numpy==1.23.5
onnxruntime==1.20.1
oyaml==1.0
packaging==24.2
pandas==2.2.3
pephubclient==0.4.5
peppy==0.40.7
piper==0.14.3
piper-tts==1.2.0
piper_phonemize_cross==1.2.1
pipestat==0.11.0
protobuf==5.29.1
psutil==6.1.0
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
setuptools==75.6.0
shellingham==1.5.4
six==1.17.0
sympy==1.13.3
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.2
ubiquerg==0.8.0
urllib3==2.2.3
yacman==0.9.3
