# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
dist/
build/
coverage/
.onnx
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env/
.venv/
env/
venv/
build/
dist/
*.mp3
./piper/piperenv/*

.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
htmlcov

/data/
/local/
/lib/
/install/
/download/
*.so

.venv/
lightning_logs/

